@import "_base.less";
@import "./components/_CpAvatar.less";
@import "./components/_CpScroller.less";
@import "./components/_CpNameCard.less";

.cp-all { position: relative; z-index: 0}
.cp-pull-right { float: right}
.cp-pull-left { float: left}
.dp-container {position: relative; z-index: 1}
//水波纹效果按钮
.btn-ripple {
    position: relative;
    //隐藏溢出的径向渐变背景
    overflow: hidden;
}

.btn-ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    //设置径向渐变
    background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity .5s;
}

.btn-ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    //设置初始状态
    transition: 0s;
}



/** 圆按钮 **/
.btn:not(.btn-just-icon):not(.btn-fab) .fa, .navbar .navbar-nav>li>a.btn:not(.btn-just-icon):not(.btn-fab) .fa {
  font-size: 18px;
  margin-top: -2px;
  position: relative;
  top: 2px
}

.btn.btn-fab, .navbar .navbar-nav>li>a.btn.btn-fab {
  border-radius: 50%; font-size: 24px; height: 56px; margin: auto; min-width: 56px; width: 56px; padding: 0; overflow: hidden;  position: relative; line-height: normal;
  .ripple-container {border-radius: 50%}
  i.material-icons {position: absolute; top: 50%; left: 50%; transform: translate(-12px, -12px); line-height: 24px; width: 24px; font-size: 24px}
}


.btn.btn-fab.btn-fab-mini, .btn-group-sm .btn.btn-fab, .navbar .navbar-nav>li>a.btn.btn-fab.btn-fab-mini, .btn-group-sm .navbar .navbar-nav>li>a.btn.btn-fab {
  @height:40px; height: @height; min-width: 20px; width: @height;
  &.material-icons {top: -3.5px; left: -3.5px}
  .material-icons {font-size: 17px}
}



/*动画*/
/*基础动画类*/
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
            	transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1);
            	transform: rotate(180deg) scale(1);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
            	transform: rotate(360deg) scale(1);
    }
}




/*黑背景*/
.cp-mask { position: fixed;   width: 100%;   height: 100%;   top: 0;   left: 0;   background: rgba(0, 0, 0, 0.3);      z-index: 10000;      }




/* 输入框 */
.form-control-line, .form-group .form-control-line { padding-left: 5px;
  border: 0;
  background-image: linear-gradient(#59488d, #59488d), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
  &:focus {  box-shadow: none;
    background-image:linear-gradient(@color-primary, @color-primary),linear-gradient(@color-primary, @color-primary);
  }
}

/*输入框组*/
.cp-form-group { position: relative;
  label.control-label {  position: absolute; left:3px; bottom: 0;font-size: 16px;
    i.fa { color:#aaa;/* color:rgb(230, 136, 127)*/}
  }
  input.form-control {transition: all .8s; padding-left: 30px;}
}

.cp-article {
  padding: 12px; line-height: 1.6;
  p { margin-bottom: 8px;}
}

/*******/
.vux-label { margin: 0;}


/*导航栏*/
@cp-bar-height : 40px;
@cp-bar-fontsize : 14px;
@cp-main-color : @color-primary;
.cp-bar {	position: relative;	top: 0;	right: 0;	left: 0;	z-index: 10;	width: 100%;	min-height: @cp-bar-height;	font-size: @cp-bar-fontsize;	text-align: center;	}
.cp-bar-nav {	top: 0;	line-height: @cp-bar-height;	background-color: @cp-main-color;	color: #fff;
  .cp-title {	min-height:@cp-bar-height;	position: absolute;	margin: 0;	text-align: center;	white-space: nowrap;	right: 80px;	left: 80px;	width: auto;	overflow: hidden;	text-overflow: ellipsis;	z-index: 2;}
   a {	color: #fff;}
   .cp-iconfont {	position: relative;	z-index: 20;	font-size: @cp-bar-fontsize;	color: #fff;	font-weight: 400;	line-height: @cp-bar-height;}
   .cp-pull-left { float: left;}
   .cp-pull-left , .cp-pull-right {	padding: 0 8px;	font-size: @cp-bar-fontsize;	font-weight: 400;	z-index: 2;	-webkit-box-sizing: border-box;			box-sizing: border-box;    display: -webkit-box;
       display: -webkit-flex;    display: flex;    -webkit-align-items: center;align-items: center;}

   .cp-btn {	position: relative;	z-index: 20;	height: @cp-bar-height;	line-height:@cp-bar-height;	padding-top: 0;	padding-bottom: 0;	margin: 0;	border-radius: 2px;	border-width: 0;
       	background: transparent !important;
    &.cp-btn-outlined {	position: relative;	padding: 0 3px;	margin: 8px;	height: 20px;	line-height: 20px;	border-width: 1px;	background: transparent !important;
    	border-color: #ffffff;}
    }
    &:active {	background: none;}
    .cp-iconfont {	font-size: @cp-bar-fontsize;	line-height: 20px;	padding: 0;	margin: 0;	color: #fff;}

}
.cp-title a {	color: inherit;}
.cp-bar-light {	color: #03a9f4;	background-color: #fff;	border-bottom: 1px solid #ddd;}
.cp-bar-nav.cp-bar-light .cp-iconfont {	color: @color-primary;}
.cp-bar-nav.cp-bar-light .cp-btn-outlined {	border-color:  @color-primary;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
	.cp-bar.cp-bar-light {		border: none; background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; background-image: linear-gradient(0,#dddddd,#dddddd 50%,transparent 50%);
        background-image: -webkit-linear-gradient(90deg,#dddddd,#dddddd 50%,transparent 50%);
	}
}


/*底部切换栏*/
.cp-bar-tab {		table-layout: fixed;	background-color: #FFF	;color: @color-primary;
  a {color:lighten(@color-primary,30%)}
  .active a{  	color: @color-primary  }
  .cp-bar-tab-item {
  	display: table-cell;position: relative;width: 1%;height: 50px;text-align: center;vertical-align: middle; padding-top: 8px;
      .cp-iconfont { position: relative; z-index: 20; top: 2px; height:20px; font-size: 20px; line-height:20px; }
  }

  .cp-bar-tab-label {  	display: block;      font-size: 12px;      position: relative;  }
  .cp-badge { position: absolute; top: 1.6px; left: 55%; z-index: 99;  }
  .cp-dot { position: absolute; top: 1.6px; right: 30%; z-index: 99;  }
}

.cp-footer {position: fixed;	top: auto;	bottom: 0; border-top: 1px solid #DDD}


/* 按钮 */
.cp-btn {
  @btn-height : 44px;
   display: block; position: relative; margin-bottom: 10px; height: @btn-height; min-width: 30px;line-height: @btn-height;
  font-size: 16px; text-align: center; text-decoration: none;
  border:1px solid lighten(@color-primary,30%); color: lighten(@color-primary,20%); background: #FFF;border-radius: @btn-height;
  .cp-icon { position: absolute; left: 0;height: @btn-height; width: 22px; text-align: center;line-height:@btn-height; margin-left: 20px;   font-size: 20px; }
  &:active { border-color:lighten(@color-primary,10%); color: lighten(@color-primary,10%); background: lighten(@color-primary,50%)}
  &.cp-btn-cancel { border-color: lighten(@color-danger,10%); background:lighten(@color-danger,10%);color:#FFF;}
  &.cp-btn-ok { border-color: lighten(@color-success,10%); background:lighten(@color-success,5%); color:#FFF;}
  &.cp-btn-pickup { border-color: lighten(@color-primary,10%); background:lighten(@color-primary,15%); color:#FFF; }
}




/*page-view*/
/* 进入切页动画，可根据开发这需要自由开发 */
.forward-enter-active, .forward-leave-active {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 0;
}
.forward-leave {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.forward-leave-to {
  -webkit-transform: translate3d(-100%, 0, 0);
     -moz-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
.forward-enter {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.forward-enter-to {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* 离开切页动画，可根据开发这需要自由开发 */
.backward-enter-active, .backward-leave-active {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 0;
}
.backward-leave {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.backward-leave-to {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.backward-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
     -moz-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
.backward-enter-to {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}


.fade-enter-active, .fade-leave-active {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 0;
  opacity: 1
}
.fade-leave {
  opacity: 1
}
.fade-leave-to {
  opacity: 0
}
.fade-enter {
  opacity: 0
}
.fade-enter-to {
  opacity: 1
}

.page-view {
  width: 100%; position: absolute; top: 0; left: 0;right:0;  height: 100%; background:#fafafa;  z-index: 1000;
  // &.out {animation: page_view_out .2s ease; opacity: 0;}
  &.cp-overhide { bottom: 0;  }
}

.cp-overhide {
  overflow: hidden;
}

.page-view-darkBG {
  background:  #fafafa;
}

.page-view-title　{
  @color-text : #FFF; //#FFF; //@color-primary;
  @color-bg : lighten(@color-primary,12%);//rgba(250,250,250,.95);
  &>* { line-height: @topbar-height }
  height: @topbar-height;  position: fixed; top:0; left:0; right:0;
  background-color:   @color-bg ;
  // background-image:url("../images/carpool_title_bg.jpg"); background-repeat: repeat; background-position: center; background-size: cover;
  color: @color-text;z-index: 100; border-bottom: 1px solid darken(@color-bg,5%); border-top:2px solid @color-primary;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  .cp-btn-goback { position: absolute; left:0; top:0;   display: inline-block; width: 40px; height: 40px;  color:@color-text ; padding: 0 12px; margin-right: 5px; overflow: hidden;
    svg { margin-top: 14px; width: 30px; height: 30px}
  }
  .cp-title  {	min-height:@topbar-height; font-weight: 400; 	position: absolute;	margin: 0;	text-align: center;	white-space: nowrap;	right: 80px;	left: 80px;	width: auto;	overflow: hidden;	text-overflow: ellipsis;	z-index: 2;}
  .cp-btn-wrapper { position: absolute; right:10px; top:-1px; z-index: 4;
    .cp-btn-close,.cp-btn-search { display: inline-block;padding:0 10px; font-size: 16px; color: @color-text ; opacity: 0.9; background: none; border:none}
  }
  .cp-search-box { position: absolute; top:0; left:36px; right:15px;  padding-top: 6px; z-index: 3;
    .form-control-line {
      @placeholderColor : lighten(@color-primary,35%);
      @lineColor : lighten(@color-primary,40%);
      padding-right: 40px; color:@color-text;
      background-image:linear-gradient(@placeholderColor, @placeholderColor),linear-gradient(@placeholderColor, @placeholderColor);
      &::-webkit-input-placeholder {color:@placeholderColor;}
      &:focus {
        background-image:linear-gradient(@lineColor, @lineColor),linear-gradient(@lineColor, @lineColor);
      }
    }
  }

}

.page-view-main {  overflow: hidden; height: 100%; position: relative; z-index: 2;
  &.cp-pdt , .cp-pdt { padding-top: @topbar-height;}
  &.cp-ah {height:auto}
}

.page-view-inner {
  height: 100%;
}

.page-view-index {
  position: relative; z-index: 1000;
}

.cp-btn-goback-wrapper { position: fixed; left:12px; top:12px; z-index: 1000;
  .cp-btn-goback { @btnSize :32px;  background: rgba(0,0,0,0.7); display: inline-block; width: @btnSize; height: @btnSize; line-height:@btnSize; border-radius: 50%;text-align: center;   overflow: hidden;
    svg { margin: (@btnSize - 23)auto 0; width: 16px; height: 16px; fill:#FFF}
  }
}

//无数据提示
.cp-nodata-tips { margin-top: 10px; text-align:  center;}

/*路线盒*/
.cp-trip-box {clear: both; padding:0px 20px 10px 24px; border-bottom: 1px dotted #DDD; position: relative; display: flex;

  .cp-trip-line { padding: 20px 0 10px 0; position: relative;}
  .cp-trip-content { width: 100%}
  .cp-p { position: absolute; top:8px; left: -19px; display: block; width: 15px; height: 15px; border-radius: 50%;border:4px solid rgb(86,150,244); background: #FFF;}
  .cp-line { height: 68px;  width: 3px; border-left:3px dotted  rgb(81,169,66); }
  .cp-item { position: relative; clear: both; margin:0 0 0 10px}
  h4 {  padding-left: 10px; font-size: 16px; font-weight: 400; overflow: hidden; line-height: 30px;white-space: nowrap;	text-overflow: ellipsis;	overflow: hidden;	}
  label { position: absolute; top: 27px; left: 10px;display: block; margin: 0; font-size: 12px; color: #bbb; font-weight: 400;}
  .time { position: absolute; top:0; left:-80px; color:lighten(@color-primary,18%); margin-bottom: 15px; text-align: right;
    span { font-size: 12px}
    b { display: block; font-size: 18px; font-weight: 500}
  }
  .cp-start {border-bottom:1px dotted #DDD; padding-bottom: 10px; }
  .cp-end {
    .time {color:lighten(@color-primary,40%);}
    .cp-p  { border-color: rgb(243,100,100)}
  }
  .cp-item-d { position: relative; display: inline-block; margin:0 0  10px; font-size: 12px; color:lighten(@color-primary,10%);
    .cp-p { top:7px; left:-6px; width: 9px; height: 9px;border: 0; background:lighten(@color-primary,25%);  }
    .cp-caret-left {  display: inline-block; float: left; margin:3px -7px 0 10px; width: 14.5px; height:14.5px; transform: rotate(45deg);background: lighten(@color-primary,55%); }
    .cp-text { position: relative; display: inline-block;padding: 0 10px 0 5px; height: 22px; line-height: 22px;background:lighten(@color-primary,55%); z-index: 1;}
  }
}


/*分页*/
.cp-page-wrap {text-align: center;
  .pagination > .disabled > a, .pagination > .disabled {
    background-color: inherit;
  }
}

//浮动按钮
@keyframes show_add_btn_r {
  0% {
    transform:translate(90px,0) rotate(180deg);
    -webkit-transform:translate(90px,0) rotate(180deg);
    opacity: 0;
  }

  100% {
    transform:translate(0,0) rotate(0deg) ;
    -webkit-transform:translate(0,0) rotate(0deg) ;
    opacity: 1;
  }
}
@keyframes show_add_btn_l {
  0% {
    transform:translate(165px,0) rotate(180deg) ;
    -webkit-transform:translate(165px,0) rotate(180deg) ;
    opacity: 0;
  }
  100% {
    transform:translate(0,0) rotate(0deg) ;
    -webkit-transform:translate(0,0) rotate(0deg) ;
    opacity: 1;
  }
}
//浮动按钮
@keyframes hide_add_btn_r {
  0% {
    transform:translate(0,0) rotate(0deg) ;
    -webkit-transform:translate(0,0) rotate(0deg) ;
    opacity: 1;
  }
  100% {
    transform:translate(90px,0) rotate(180deg);
    -webkit-transform:translate(90px,0) rotate(180deg);
    opacity: 0;
  }
}
@keyframes hide_add_btn_l {
  0% {
    transform:translate(0,0) rotate(0deg) ;
    -webkit-transform:translate(0,0) rotate(0deg) ;
    opacity: 1;
  }
  100% {
    transform:translate(165px,0) rotate(180deg) ;
    -webkit-transform:translate(165px,0) rotate(180deg) ;
    opacity: 0;
  }
}
@keyframes btn_routeIn {
  0% {
    transform:translate(0,50px) rotate(360deg) ;
    -webkit-transform:translate(0,50px) rotate(360deg) ;
    opacity: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
  }
  100% {
    transform:translate(0,0) rotate(0) ;
    -webkit-transform:translate(0,0) rotate(0) ;
    opacity: 1;
  }
}
.cp-fixed-btn-wrap { position: fixed; right:25px; bottom: 90px;z-index: 10005;
  .cp-btn-control{
    animation: btn_routeIn .5s linear 1; line-height: 36px; color:#fff;
    &, &:focus {box-shadow: 2px 2px 10px rgba(0,0,0,0.4); outline: none; border:none;};
    i.fa { display: inline-block; font-size: 16px;   transition: all .5s ease 0.02s;}
    b { display: block; margin: 0 auto;width:22px; font-size: 22px; height: 22px; line-height: 22px;font-weight: 500;transition: all .5s ease 0.02s; }
  }
  .cp-btn-options-wrap {
    @btn-width:90px;
    @btn-margin-right:60px;

    .btn { position: absolute; width: @btn-width; height: @btn-width; padding-top: 15px; box-shadow: 2px 2px 10px rgba(0,0,0,0.8);  color:#FFF}
    p {margin: 5px 0 0; font-size: 12px;}
    .cp-btn-need {  right: @btn-margin-right; bottom:-25px}
    .cp-btn-car {   right: @btn-width + @btn-margin-right + 15px; bottom:-25px; }
  }
  &.isshow {
    .cp-btn-control { background: #900;
      i.fa,b { transform:rotate(45deg); -webkit-transform:rotate(45deg); }
    }
    .cp-btn-need {animation: show_add_btn_r 0.3s linear 1;}
    .cp-btn-car {animation: show_add_btn_l 0.3s linear 1;}
  }
  &.hiding {
    .cp-btn-need {animation: hide_add_btn_r 0.3s linear 1;}
    .cp-btn-car {animation: hide_add_btn_l 0.3s linear 1;}
  }
}


/*搜索条*/
.cp-searchbar {
    display: -webkit-box;    -webkit-box-pack: center;   -webkit-box-align: center;   padding:10px; overflow: hidden;   position: absolute;   top: 0;   left: 0;    width: 100%;
    background-color: @color-primary;    color: #f0f0f0;    -webkit-backface-visibility: hidden;  			backface-visibility: hidden;
    &.focus {
        -webkit-box-pack: start;
    }
    form { 	width: 90%;}
    .fa { line-height: 1.4rem; margin-right: 0.25rem; }
    .cp-searchbar-cancel { margin:0 5px; cursor: pointer;}
  }

.cp-searchbar-input {  margin: 0 10px; background-color: #ffffff;  border-radius: 3px;  height: 26px;  line-height:26px;   width: 100%; position: relative;
    padding-left: 0.5rem;    display: -webkit-box;    -webkit-box-flex: 1;
    .fa { color:#AAA}
    input {
       color: #666666; width: 100%;padding: 0; margin: 0; height: 26px;min-height: 26px;line-height:26px; border: 0; -webkit-appearance: none;
       &::-webkit-input-placeholder {
       	color: #ccc;
       }
     }
  }

//行程卡片组件
@keyframes load_routecard {
  0% {
    transform:translate(0,100px) rotateY(60deg);
    -webkit-transform:translate(0,100px) rotateY(60deg);
    opacity: .6;
  }
  100% {
    transform:translate(0,0) rotateX(0);
    transform:translate(0,0) rotateX(0);
    opacity: 1;
  }
}
@keyframes remove_routecard {
  0% {
    transform:translate(0,0);
    -webkit-transform:translate(0,0);
    opacity: 1;
    height:200px;
  }
  50% {
    transform:translate(0,-150px) rotateX(180deg);
    -webkit-transform:translate(0,-150px) rotateX(180deg);
    opacity: 0.8;
    height:100px;
  }
  100% {
    transform:translate(0,-300px) rotateX(360deg);
    -webkit-transform:translate(0,-300px) rotateX(360deg);
    opacity: 0.5;
    height:0;
  }
}
@keyframes favour_num_action {
  0% {
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
  }
  100% {
    transform:scale(1);
    -webkit-transform:scale(1);
  }
}
@keyframes favour_thumb_action {
  0% {
    transform:scale(1.2) translate(0,-15px);
    -webkit-transform:scale(1.2) translate(0,-15px);
    opacity: .6;
  }
  100% {
    transform:scale(1) translate(0,-0);
    -webkit-transform:scale(1) translate(0,-0);
    opacity: 1;
  }
}


.cp-tripCard-item {
  @avatar-width : 60px;
  @color-start-p :#3d7fcd;
  @color-end-p :#cc4231;
  @color-user-bar:lighten(@color-primary,5%);
  @color-userInfo-bar : lighten(@color-primary,20%); //rgb(53, 115, 166); //rgb(136, 63, 144);//darken(@color-primary,5%);
  @color-itemLeft :  lighten(@color-userInfo-bar,15%); //rgb(53, 115, 166);
  @color-fabBtn-primary :  lighten(desaturate(rgb(53, 115, 166),35%),25%);//lighten(desaturate(#4e69a2,15%),20%);
  @color-border : #d0d0d0 ;
  @border-radius: 3px;
  padding-top: 14px;
  transition: all .3s;
.cp-tripCard-item-inner { position: relative; border:1px solid @color-border; /*border-left:4px solid @color-itemLeft;*/ background: #FFF; margin:0 0 4px; border-radius:44px @border-radius @border-radius @border-radius;box-shadow: 0px 0px 16px rgba(0,0,0,0.1);}
  .cp-avatar-wrap {
    position: absolute; width: @avatar-width; height:@avatar-width;  border:1px solid #DDD; top:-4px; left:-9px; z-index: 3; border-radius: 50%;/*box-shadow:-2px -1px 4px rgba(0,0,0,0.2) ;*/
    .cp-avatar { width: 100%; height: 100%; /*border:1px solid rgba(255,255,255,.2); */ }
  }
  .cp-user-wrapper {
    // background: lighten(@color-userInfo-bar,52%);
    background: @color-userInfo-bar;
     border-radius: 40px 3px 0; overflow: hidden;
  }
  .cp-name-bar {
    height: 28px; width: 100%;padding-left: 60px;   border-radius: 0 @border-radius 0;/*border-radius: 0 3px 20%;*/
    // background: #FFF;color:@color-primary;
    background:@color-user-bar; color: #FFF;
    h4 { display: inline-block;margin: 0;line-height: 28px; font-weight: 700; font-size: 16px;}
    h8 , .h8 { display: inline-block; float: right; margin: 3px 8px 0 0;/*position: absolute; right: 10px; top:2px;*/font-size: 16px; color:lighten(@color-user-bar,28%); opacity: .8;}
    .cp-phone {
      position: relative;@phoneBtn-height : 24px;
      float: right;  margin:-2px 4px 0 0; font-size: 24px;
      a {
        /*display: inline-block; height: @phoneBtn-height; width: @phoneBtn-height; line-height: 1; text-align: center; border-radius: 50%;*/
        /*border:1px solid lighten(@color-user-bar,25%); background:lighten(@color-user-bar,45%);*/ color:lighten(@color-user-bar,50%);
      }
    }
  }
  .cp-userInfo-bar {
    display: flex;  justify-content:space-between;
     position: relative; height: 22px; right:0; padding: 3px 8px 3px 60px;border-radius: 40px 3px 0 0; font-size: 12px;
     color: lighten(@color-userInfo-bar,36%); /*border-top: 1px solid lighten(@color-userInfo-bar,30%); */border-bottom: 1px solid lighten(@color-userInfo-bar,30%);
    .cp-carnumber {  display: block; font-weight: 300;font-size: 12px; min-width: 50px;  text-align: right;white-space: nowrap;  }
    .cp-dept {display: block; padding-right: 10px; .ellipsis()}
  }

  .cp-trip-box { margin: 20px 0 15px;padding: 0 10px 0px 23px;  position: relative; color:#666;
    h4 {font-weight: 700; margin: 0; font-size: 14px;   height: 16px;  overflow: hidden; line-height: 16px;
      background-image: -webkit-gradient(linear, 0 0, right bottom, from(rgba(10, 10, 10, 1)), to(rgba(60, 60, 60, .6)));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .cp-start , .cp-end {
      margin-bottom: 10px;
      label {display: none}
    }
    .cp-start {border-bottom: 1px solid lighten(@color-primary,50%);}
    .cp-end {}
    .cp-p {left:-17px; top:1px}

  }

  .cp-trip-line {
    @color-line :lighten(@color-primary,40%);
    .cp-line { position: absolute;  width: 2px; top: 3px; bottom: 0; left: 0; border-left:2px dotted  @color-line; height: 40px}

  }
  .cp-date-wrap {
    position: absolute; right:0;top:16px;font-size: 12px; color:darken(@color-primary,0%); background: lighten(@color-primary,60%); line-height: 1; border-radius: 3px 0 0 3px; box-shadow: -5px 0 20px rgba(0,0,0,.1);
    .cp-date { float: right; margin: 5px 5px 0;}
    .cp-time {  display: inline-block; padding: 3px 10px; float: right; font-size: 14px; color:#FFF; background:darken(@color-primary,8%); text-shadow: none;}
  }

  .cp-fabBtn-wrap {
    @btn-width:32px;
    position: relative;  min-width: @btn-width + 50px;
    display: inline-block;   margin: 3px 5px 0; text-align: left;
    .btn-fab { float: left; width: @btn-width; height: @btn-width; min-width: @btn-width;line-height: @btn-width; font-size: 14px; text-align: center;}
    .btn-primary { background: lighten(@color-fabBtn-primary,30%); color:@color-fabBtn-primary; border-color:@color-fabBtn-primary; }
    b {  }
    .t { position: absolute; font-weight: 300;left:@btn-width ; top:-3px; transform: scale(.9); color: darken(@color-fabBtn-primary,20%);}
    .num { font-size: 18px; margin: 7px 0 0 @btn-width + 5px; font-weight: 700; color:darken(@color-fabBtn-primary,20%);}
    &.doLike {
      .btn  {
        animation: favour_thumb_action .4s linear 1
      }
      .num {
        animation: favour_num_action .4s linear 1
      }
    }
    &.hasLike ,&.hasTake {
      @color-fabBtn-red : desaturate(@color-danger,20%);
      .btn-danger { background: lighten(@color-fabBtn-red,30%); color:@color-fabBtn-red; border-color:@color-fabBtn-red;}
      .num {color:darken(@color-fabBtn-red,5%);}
    }
  }
  .cp-btns-wrapper { padding: 0 12px; /*text-align: center;*/
    .tips-text { float: left; padding-left: 12px;}
    .cp-fabBtn-wrap  {margin: -4px 0 8px;
      .t {display: block; min-width: 80px}
    }
    .cp-btns .cp-btn { width: 36px; height: 36px; line-height: 36px; margin:-8px 0 8px 20px;}
    // .cp-btn {  margin:0 10px; border-radius: 50%; border:1px solid @color-primary ; color: @color-primary; font-size: 22px; width:36px; height: 36px; line-height: 34px; text-align: center;}
  }
  .cp-goDetail-wrapper {
    margin-top: -8px; padding-bottom: 4px; overflow: hidden; color:lighten(@color-primary,20%);
    .tips-text { float: left; padding-left: 8px; color:#aaa}
  }
  .cp-btn-accept {   margin: -5px auto 10px; width: 180px;height: 34px; line-height: 34px;box-shadow: 0 0 2px rgba(0,0,0,0.2); background-color: @color-warning; border-color: @color-warning; color: #FFF}
  &.cancel {/* visibility: hidden;*/ animation: remove_routecard .8s linear 1; opacity: 0}
}

@media (max-width: 369px){
  .cp-tripCard-item  {
    .cp-fabBtn-wrap { padding:0 5px;}
  }
}
@media (max-width: 350px){
  .cp-tripCard-item  {
    .cp-fabBtn-wrap { padding:0 3px;}
  }
}
@media (max-width: 338px){
  .cp-tripCard-item  {
    .cp-fabBtn-wrap { transform:scale(.8);-webkit-transform:scale(.8); margin: 0 -5px}
  }
}


.cp-fabBtn-wrap {
  @btn-width:36px;
  display: inline-block; text-align: center; margin: 0 5px 5px;
  .btn-fab { width: @btn-width; height: @btn-width; min-width: @btn-width;line-height: @btn-width; font-size: 14px; text-align: center;}
  b { display: block; font-weight: normal;}
  .t { font-size: 12px; color:#999}
  .num { font-size: 14px; padding-top: 3px;}
}

/**** 添加行程页 ****/
//全屏map
@keyframes mapBox_come_in {
  0% {
    transform:rotateX(180deg);
    -webkit-transform:rotateX(180deg);
    opacity: 0;
  }

  100% {
    transform:rotateX(0);
    -webkit-transform:rotateX(0);
    opacity: 1;
    // width: 200px;
  }
}

.cp-map-wapper , .map-box{ position: absolute; top:0; left: 0; bottom: 0; right: 0;  width: 100%; overflow: hidden; z-index: 1;
  .amap-logo,.amap-copyright { display: none!important;}
  .amap-toolbar-geo {width: 32px; height: 32px;opacity: .7;}
  .amap-touch-toolbar .amap-toolbar-geo-secc {    background-size: 18px 18px!important}
  .amap-zoomcontrol {
    width: 32px; opacity: .7;
    /*.amap-zoom-touch-plus ,.amap-zoom-touch-minus { background-color:rgba(0,0,0,.6);
      &>div {color:#FFF}
    }*/
  }
}

.cp-map-wrapper-addtrip {
  top:-100px;
}

.cp-map-addAddress-wapper { top:34px;}

.cp-map-content { width: 100%; height: 100%; }

.mix-map-topbox(){
  background: rgba(255,255,255,0.85); position: absolute; top:58px;  left:12px; right:12px; z-index: 100;  border:1px solid #DDD; border-radius: 4px;overflow: hidden;box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
// 常用数线
.cp-recently-wrapper {
  .mix-map-topbox; height: 64px; animation: mapBox_come_in .5s ease;;
  .cp-recently-inner { display: flex;}
  h5 { font-size: 12px; width: 22px; line-height: 1.2; margin: 1px 0 0 0; border-right: 1px solid #DDD; padding: 2px 4px;   color:#999}
  .cp-content {width: 100%}
  .cp-item {height:30px; line-height: 30px;width:100%; overflow: hidden;
    &:first-child { border-bottom: 1px solid #DDD; }
    b { padding:0  10px; color: rgb(98, 136, 161)}
    .cp-to { padding: 0 8px; color:#ccc}
  }
}

.cp-computebox-inner {
  .mix-map-topbox; top:10px; height: 34px; animation: mapBox_come_in .5s ease;
  margin: 0 50px;
  h4 { font-size: 12px;text-align: center; }
  h5 { font-size: 12px; text-align: center; margin: 0; }
  .cp-content { display:  flex;  justify-content: space-around; width: 100%; margin-top: -5px; font-size: 13px;}
  .cp-item { flex:1; text-align: center; color:rgb(241, 146, 2);
    &:first-child {  border-right: 1px solid #DDD}
    i.fa { margin-right: 7px; color:@color-primary;}
    b {font-weight: normal;}
  }
}

@keyframes exchange_s {
  0% {
    transform: translate(0,0) ;
    -webkit-transform:translate(0,0) ;
    opacity: 1;
  }

  100% {
    transform: translate(0,50px) ;
    -webkit-transform:translate(0,50px) ;
    opacity: 0;
  }
}
@keyframes exchange_e {
  0% {
    transform: translate(0,0) ;
    -webkit-transform:translate(0,0) ;
    opacity: 1;
  }

  100% {
    transform: translate(0,-50px) ;
    -webkit-transform:translate(0,-50px) ;
    opacity: 0;
  }
}

.mix-selectbtn-wrap(@btn-height:44px,@title-color:#888,) {
  border-bottom: 1px solid #eaeaea; clear: both;
  .weui-cell {padding: 0;}
  .vux-cell-box {padding: 0 4px}
  .vux-cell-box:before { border:none; }
  .weui-cell__hd { float: left; color: @title-color;
    // i {   }
  }
  .vux-popup-picker-value { font-size: 14px;  color: #444}
  .vux-number-round { margin-top: 2px; * {box-sizing: content-box;}}
  .vux-number-selector {
    // width: 26px; height: 26px; line-height: 0; text-align: center;  margin-top: -2px; margin-right: 0;
    border-color:#FF9900;
    svg {fill:#FF9900}
  }
  .vux-number-input {
    font-size: 14px; line-height: 14px;
  }
  .cp-selectbtn { display: block;   color: #444; height: @btn-height; line-height: @btn-height; padding:0 8px 0 0; text-align: left; background: none; box-shadow: none;  margin: 0;

  }
  &.isNull .cp-selectbtn {
    .cp-text {color: #777;}
  }
  .cp-label { font-size:14px;
    i {display: inline-block;width: 26px; text-align: center;   }
    .cp-title { color:@title-color; vertical-align:middle; text-align: left}
  }
}

#Page-trip-add {
  .cp-tools-wrapper { position: absolute; z-index: 100;right:12px; top:12px;  width: 32px; height: 32px;
    line-height: 34px;text-align: center; background: rgba(0,0,0,.75); border-radius: 4px;
    svg { margin: 5px auto 0;width: 20px; height: 20px; fill:#fff}
  }

  /*.cp-scroll {transition: all .5s;}
  .cp-scroll-inner { z-index: 2 ; margin-top: 740px; transition: all .5s;}
  .cp-main { position: relative; min-height: 520px; background: #FFF; height: 100%; box-shadow: 0 -4px 4px rgba(0,0,0,0.1)}
  .cp-map-wapper { position: fixed; top:0; bottom: 0; width:100%; z-index: 1;}*/
  // 表单
  .cp-map-form {
    @margin:0;
    @btn-height : 34px;
    position: fixed; bottom:0; left:@margin; right:@margin; z-index: 2;box-shadow: 0 2px 18px rgba(0,0,0,0.2);
    .cp-userbar { height: 20px; position: relative; background: lighten(@color-primary,12%); color:lighten(@color-primary,42%); padding:0 12px 0 60px;
       font-size: 12px; line-height: 20px; text-align: left;
       // border-radius:4px 4px 0 0 ;
      .cp-avatar-wrap {position: absolute; bottom:-9px; left:8px;text-align: center;}
      .cp-avatar { width: 44px; height:44px;  border:3px solid lighten(@color-primary,12%);}
    }
    .cp-map-form-inner {background: rgba(255,255,255,0.9); border-radius:0 0 4px 4px; padding: 12px 10px 2px ; }
    .form-group { margin-top: 8px;  }
    .form-control  { padding: 3px 0; }

    .cp-selectbtn-wrap {.mix-selectbtn-wrap(@btn-height);}




    .cp-trip-wrapper { position: relative;
      .cp-btn-change {
        @exTop : @btn-height - 12;
        position: absolute; top:@exTop; left:70px;width: 30px; height: 30px; padding-top: 2px; line-height: 26px;
          background: #FFF; border-radius: 50%; text-align: center;/* border: 1px solid lighten(@color-primary,20%);*/
          svg {height: 24px;width: 24px; fill: lighten(@color-primary,15%)}
      }
      .cp-text { float: right; font-size: 14px;}
      &.exchanging {
        .cp-startp-wrap {
          .cp-text {animation: exchange_s .4s linear 1}
        }
        .cp-endp-wrap {
          .cp-text {animation: exchange_e .4s linear 1}
        }
      }
    }
    .cp-needTime-sWrap , .cp-seatCount-sWrap {
      .fa {color: #779dc2;}
    }
    .cp-seatCount-sWrap { }

    .cp-startp-wrap , .cp-endp-wrap { clear: both ;.btn{font-size:14px} }
    .cp-startp-wrap .fa-map-marker { color: rgb(94,155,248); /*desaturate(#00f,50%)*/}
    .cp-endp-wrap {
      .fa-map-marker { color: rgb(215,61,67);}
    }

    .cp-btn-submit { margin-top: 16px; display: block; width: 100%; background: @color-primary;  color: #FFF; border:none; height: 40px; line-height:40px;
      .cp-icon {line-height:40px; height: 40px; margin-left: 16px}
      &:disabled { background: lighten(@color-primary,26%);  }
     }

  }
}

//
.cp-page-history-select {
  ul, li {list-style: none; padding: 0}
  li.cp-item {
    line-height: 1.6; padding: 8px; border-bottom: 1px solid #DDD;
    .cp-icon { color: #aaa; margin: 0 4px;}
    .cp-time { color: #aaa; margin-right: 10px;}
    .cp-arrow { margin: 0 12px;color: #999; }

  }
  .cp-trip-box {
    .cp-item { label { display: none}}
    .cp-start { padding-bottom: 0}
   h4 { font-size: 13px; margin: 2px 0 }
  }
}


// 选择站点模态框设置
 .cp-page-points {
  .cp-search-wrapper { position: fixed; width: 100%;top:45px;
    .weui-search-bar__label { top:3px;}
    .weui-search-bar__cancel-btn { color: #666}
  }

  .cp-list-wrap { height: 100%; }
  .modal-scroll-wrap { position: absolute; top: 46px;bottom: 0; right: 0; left: 0; }
  b.name { font-weight: normal;}
  // .modal-body { overflow-y: auto; padding: 0; height: 100%;}
}

/*//
.cp-modal-infos , .cp-modal-wall {
  z-index: 10000;
  .modal-content {
     background: #f0f0f0;
  }
}*/

// 地点选择列表
.cp-list-points {
  list-style: none; margin: 0; padding: 0;
  li { clear: both;padding: 8px 15px; margin-bottom: 5px;
    .fa-map-pin { margin-right: 15px; color:rgb(235, 5, 30) ; text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      background-image: -webkit-gradient(linear, 0 4, 0 bottom, from(rgba(235, 5, 30, 1)), to(rgba(100, 100, 100, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    &:hover { background: #eee}
    .address { margin: 0 0 0 25px; color:#999  }
  }
  .cp-type-Home, .cp-type-Work {
    float: left;clear:none; margin-bottom: 10px;padding:10px 14px;width:50%; height: 60px;border-bottom: 1px solid #dedede; overflow: hidden;
    i.fa { float: left; color:#CCC; font-size: 22px; margin:10px 15px 0 5px;}
    h6 { margin: 0; font-size: 13px; color:#888}
    b { display: block;}
    .address { display: none}
  }
  .cp-type-Home { border-right: 1px solid #dedede}
  &.doSearch {
    .cp-type-Home, .cp-type-Work { float: none; width: auto; border-right:0}
  }
}
.cp-type-frommap {
  i.fa { margin-right: 15px; color:rgb(235, 5, 30) ;-webkit-background-clip: text;-webkit-text-fill-color: transparent; background-image: -webkit-gradient(linear, 0 4, 0 bottom, from(rgba(235, 5, 30, 1)), to(rgba(100, 100, 100, 1)))}
}

.cp-createAddress-box {
  padding:10px 15px  ; border-top: 1px solid #DDD;
  p { margin: 0}
}

/*添加站点页的信息弹窗*/
// .cp-markInfo-box-wrapper { background: #FFF; padding: 12px;}
.cp-map-wapper-addtrip .amap-info-close { display: none}
.cp-markInfo-box {
  font-size: 14px;
  .cp-form-group { position: relative; margin-bottom: 12px;
    label.control-label { bottom: 2px;font-size: 14px;   color:#e6887f;
      i.fa { margin-right: 5px}
    }
    input.form-control {  padding-left: 80px; font-size: 16px;}
  }
  .cp-search-btn { position: absolute; right:10px; top:8px;}
  .btn-submit { margin-top: 12px; height: 34px; line-height: 34px; font-size: 16px}
}

/*添加站点页的提示*/
.cp-address-tips-box {
   position: absolute; bottom: 16px ; left:0; right:0; text-align: center; z-index: 2;
   .cp-inner {margin:0 auto; padding: 4px 8px; display: inline-block;background:rgba(0,0,0,0.6);
     border-radius: 4px; box-shadow: 0 0 5px rgba(0,0,0,0.2); color:#fff;
     p{ margin: 0}
   }
}


/*拼车功能首页的样式*/
.cp-index-btn-item { margin: 10px 0 ; border-bottom: 1px solid lighten(@color-primary,50%); clear: both;
  dt { font-weight: normal; color:lighten(@color-primary,30%); font-size: 14px; }
  dd {
    i { margin-right: 15px;}
    a.btn { display: block; font-size: 16px; color: #666; padding: 10px; text-align: left; background: none; box-shadow: none; margin: 4px 0;}
    a.btn:focus { background: none; color: #444;}
  }
}


/*page-wrapper*/
.cp-scroller-wrap {display: block;height: 100%; width: 100%;	padding: 0 ;	overflow: hidden; overflow-y: auto;
  .cp-list-wrap {overflow: hidden;padding-bottom: 30px; }
}




/* 数据统计项 */
.cp-statis-item {
  display: inline-block; text-align: center;  padding: 10px 15px;
  b {  font-weight: normal;}
  .cp-iconfont { font-size: 26px; color:@color-primary; }
  .title { display: block;margin-bottom: 3px;font-size: 12px; color:lighten(@color-primary,30%); }
  .unit {display: block; font-size: 12px; color:lighten(@color-primary,30%); }
  .num { font-size: 22px; padding-top: 5px; color:lighten(@color-primary,20%); display: block; }
  small { margin-left: 3px; font-size: 10px;  color: lighten(@color-primary,30%);}
}

/* 选项列表 */
.cp-options-list { padding: 0;
  li { list-style: none; border-bottom: 1px solid lighten(@color-primary,52%);
    i { margin-right: 14px;  }
    a.btn { display: block; font-size: 14px;  padding: 12px 10px 12px 20px; color: lighten(desaturate(@color-primary,16%),20%); text-align: left; background: none; box-shadow: none; margin: 0;}
    // a.btn:focus { background: none; color: #444;}
  }
}



#Page-trip-detail {
  @color-bg: @color-gray-l2;

  .cp-group { overflow-x: hidden;  box-shadow: 0 0 8px rgba(0,0,0,.1);
    .weui-cells.vux-no-group-title  {
      box-shadow:  0 0 10px rgba(0,0,0,.1); overflow: auto; font-size: 14px;
      // margin-bottom: 12px;
    }
  }
  .cp-group-title  {
    // color:#FFF;
    color:mix(@color-silver-d1,@color-primary);
    font-size: 12px; text-align: left;
    padding: 8px ; margin: 4px 0 0; font-weight: 700;
    .cp-refresh { font-size: 14px;}
  }



  .page-view-title { z-index: 200}
  .cp-map-content { position: absolute; top:0; bottom: 0; height: 100%; width:100%; z-index: 1; transition: all .1s; background-color: @color-bg;}
  .cp-scroll {transition: all .5s;}
  .cp-scroll-inner { z-index: 2 ; margin-top: 240px; padding-bottom: 0;transition: all .5s;}
  .cp-main { position: relative; min-height: 320px;  background-color: @color-bg;   padding-bottom: 50px;height: 100%; box-shadow: 0 -4px 4px rgba(0,0,0,0.1)}
  //返回按钮
  .cp-btn-goback-wrapper{
    transition: all .5s;
    &.cp-sticky {transform: translate(0,-2px);
      .cp-btn-goback {background: rgba(0,0,0,.3);}
    }
  }

  .cp-heading-wrapper {
    @avatar-width : 40px;
    @name-size:20px;
    background: url(../images/carpool_bg.jpg); background-size: cover;
    .cp-department-bar {
      display: flex;  justify-content:space-between; color:lighten(@color-primary,30%); padding: 4px 8px; background: @color-primary;
      h6, .department { margin: 0 ;  font-size: 12px; }
      h6 {   text-align: right;white-space: nowrap;}
      .department {display: block; padding-right: 10px; .ellipsis(); }
    }
      //用户信息栏
    .cp-heading  {
      display: flex; width: 100%; padding: 10px; z-index: 2; color:#FFF; box-shadow: 0 2px 8px rgba(0,0,0,.2);
      .cp-avatar { border: 2px solid rgba(255,255,255,.8); min-width:@avatar-width; width: @avatar-width; height: @avatar-width; transition: all .5s;}
      .cp-name { display: flex; align-items:center; width: 100%; margin-left: 8px;  transition: all .5s;.ellipsis();
        h3 { margin: 0 ;font-size:@name-size ; .ellipsis(); }
      }
      .btns-bar {display: flex; }
    }
  }



  // 按键
  .cp-btns-wrapper {
     @btn-height:48px;
     height: @btn-height;
      position: absolute; bottom: 0;  clear: both; left:0; right:0; display: flex; height:@btn-height; z-index: 2000; background: #FFF; box-shadow: 0 0 20px rgba(0,0,0,.2);
      .cp-btn-i { padding:0 16px; font-size: 16px; text-align: center; text-decoration: none;
         color: lighten(@color-primary,20%); background: #FFF;
        .cp-icon {
           width: 22px; text-align: center;   line-height: @btn-height - 12;  font-size: 22px; display: block; text-align: center; width: 100%;
        }
        span {display: block;font-size: 12px; transform: scale(.9,.9); margin-top: -3px;}
        &:active { box-shadow: inset 0 0 60px rgba(0,0,0,0.2);}
      }
      .cp-btn-p { flex:1; font-size: 15px; text-align: center; text-decoration: none;
         color: lighten(@color-primary,20%); background: #FFF; line-height: @btn-height;
        .cp-icon { display: none;
           margin-right: 8px;
        }
        span {  margin-top: -3px;}
        &:active { box-shadow: inset 0 0 60px rgba(0,0,0,0.2);}
      }
      .cp-btn-cancel {   background:lighten(@color-danger,8%);color:#FFF;}
      .cp-btn-ok {   background:lighten(@color-success,1%); color:#FFF;}
      .cp-btn-pickup {   background:lighten(@color-primary,15%); color:#FFF; }
      .cp-btn-riding {   background:lighten(@color-primary,15%); color:#FFF; }
      .cp-btn-disable  { background: lighten(desaturate(@color-primary,20%),20%); color: #FFF;}
  }



  .cp-tab-wrapper{ transition: all .5s; position: relative; z-index: 2}
  .cp-tab-item {
    .cp-inner {heigt:100%;border-left:1px solid #fafafa;}
    .bage { margin-left:2px;   line-height: 1; display: inline-block;padding: 2px 5px; border-radius: 10px;color: #fff; background: #666; transform: scale(.8) translate(0,-4px)}
  }
  .cp-tab-item:first-child .cp-inner{ border-left: none; }

  .alert { margin: 10px 10px 12px;
    .cp-avatar { width: 22px;height:22px;  border:1px solid #FFF; }
  }


  // 路线盒
  .cp-trip-box {
    h4 { margin: 8px 0;font-size: 15px;}
  }

  .cp-cell {
     padding: 10px 10px 8px 0;border-bottom: 1px dotted #ddd;
     font-size: 16px; color:lighten(@color-primary,25%); font-weight: 700; //text-align: right;
    .la { float: left; display: inline-block;  min-width: 50px;color:#666; text-align: left;
      i.fa { min-width: 30px; text-align: center; margin:0 0 0 10px;   color:lighten(@color-primary,30%)}
    }
  }
  .cp-cell-time { border-top:1px dotted #e6e6e6; display: none}
  .cp-btns-wrap { clear: both;padding: 10px;
    @btn-height : 44px;
    .cp-btn { display: block; position: relative; margin-bottom: 10px; height: @btn-height; line-height: @btn-height;
      font-size: 16px; text-align: center; text-decoration: none;
      border:1px solid lighten(@color-primary,30%); color: lighten(@color-primary,20%); background: #FFF;border-radius: @btn-height;
      box-shadow: inset 0 -5px 16px rgba(0,0,0,0.1);
      .cp-icon {
        position: absolute; left: 0;height: @btn-height; width: 22px; text-align: center;line-height:@btn-height; margin-left: 20px;   font-size: 20px;
      }
      &:active { box-shadow: inset 0 0 60px rgba(0,0,0,0.2);}
    }
    .cp-btn-cancel { border-color: lighten(@color-danger,10%); background:lighten(@color-danger,10%);color:#FFF;}
    .cp-btn-ok { border-color: lighten(@color-success,10%); background:lighten(@color-success,5%); color:#FFF;}
    .cp-btn-pickup { border-color: lighten(@color-primary,10%); background:lighten(@color-primary,15%); color:#FFF; }
    .cp-btn-riding { border-color: lighten(@color-primary,10%); background:lighten(@color-primary,15%); color:#FFF; }

  }

  .cp-statis-list { clear: both;

    border-bottom:1px solid #eee;
    background: lighten(@color-primary,57%);overflow: hidden;}
  .cp-statis-item {
    border-left:1px solid #eee;
    &:first-child { border-left: none; }
    .title {color:lighten(@color-primary,18%); font-size: 11px;}
    .cp-iconfont {color:lighten(@color-primary,18%); font-size: 19px}
    .num_unit_wrapper { margin-top: 2px;}
    .num { display: inline;  font-weight: 700; color:lighten(@color-primary,18%)}
    &.cp-time .num { font-size: 15px; padding-top: 0px; line-height: 1; font-weight: 700}
    .date { font-size: 11px; margin: 0 0 -2px; line-height: 1;   color: lighten(@color-primary,20%);white-space:nowrap}
    &.cp-distance {
      .unit {display: inline;}
    }
    &.cp-status  {
      .num {font-size: 16px;}
      .num_unit_wrapper { margin-top: 10px;}
     }
  }


}
/* 乘客列表 */

.cp-wallView-passenger {
  @btn-size:30px;
  @avatar-size:40px;
  @padding: 8px;
  list-style: none;margin: 0; padding: 0;
  .cp-item { position: relative; list-style: none;  border-bottom: 1px solid @color-border; font-size: 12px; padding-top: 12px;
    .cp-avatar { float: left; width: @avatar-size; height: @avatar-size; margin:(@padding - 2) 12px 0 @padding;  }
    .cp-txt { padding-top: @padding;}
    .media-heading { font-size: 16px; margin: 0 0  5px;color:@color-black-l2; font-weight: 700}
    p {margin: 0; color:@color-silver; }
    &.cp-finish {
      background: #fafafa; color: #DDD;
      p {color: #ccc}
      .cp-avatar { opacity: .6}
      .media-heading { color: #aaa; }
      .btn-fab-mini { background-color:lighten(@color-primary,50%); color:lighten(@color-primary,30%)}
    }
    &.hide {
      display: none;
    }
  }
  .time {position: absolute; right: 4px; top:4px; color:@color-gray}
  .cp-trip-box {
    @p-size: 8px;
    padding: 8px 8px ; border: none; /* border-top:1px dotted @color-border;*/
    .cp-trip-content {
      display: flex;
    }
    .cp-trip-line { display: none}
    .cp-center-wrap { width: 10%;
      .inner {border-bottom: 2px dotted @color-border; padding-top: 10px;}
    }
    .cp-p {
      left:4px; top:6px;border-width: 2px; width: @p-size; height: @p-size;
    }
    h4 {font-size: 12px !important; margin: 0!important; padding: 0;line-height:20px; color:@color-silver; padding: 0 4px;}
    .cp-start , .cp-end {
      overflow: hidden;
      margin: 0;padding: 0 0 0 10px;
      background: @color-dark-white;
      width: 45%;
      border-bottom: none; border: 1px solid @color-gray-l1;   border-radius: 3px;
      .ellipsis();
      label {display: none}
    }
  }
  .cp-btns-bar {
    @color-bg:lighten(@color-primary,25%);
    @color-btn:fade(@color-black-l2,36);
    @color-btn-border:darken(@color-bg,5%);
    @color-btn-text:#fff;
    box-shadow: inset 0 0 4px rgba(0,0,0,.1);
    border-top:1px solid   @color-btn-border;
    right:12px; top:10px; padding: 0 !important;  display: flex;
    background-color:@color-bg;
    background-image: url(../images/carpool_bg.jpg); background-size: cover;
    text-align: right;
    .btn  {
      background-color:@color-btn;
        flex:1;  border-radius: 0; text-align: center; padding:4px 8px;
       color:@color-btn-text;
       &[disabled] , &.disabled { color:fade(@color-btn-text,80)}
     }
     .btn +.btn { border-left: 1px solid @color-btn-border;}
    }
}

/* 评论列表 */
.cp-wallView-comment {
  min-height: auto;
  .cp-heading {position: relative;}
  .cp-comment-count { position: absolute; right:12px; top:12px; font-size: 12px;
    b { padding: 2px 4px; border-radius: 5px;background: lighten(@color-primary,60%); color: lighten(@color-primary,20%); border:1px solid lighten(@color-primary,40%)}
  }
}
.cp-comment-list { margin-bottom: 12px}
.cp-commentLists-tips { padding: 10px; text-align: center; border-bottom: 1px solid #eee; background: #f2f2ed; color: #c3c2bc; font-size: 14px;}



@keyframes show_comment_item {
  0%{
      transform: translate(0,100px)  ;
      -webkit-transform: translate(0,100px)   ;
      opacity: .5;
   }
   100%{
       transform: translate(0,0) ;
       -webkit-transform: translate(0,0) ;
       opacity: 1;
    }
}

.cp-comment-list {
  list-style: none; padding: 0 0 12px;
  .cp-comment-item {
    @avatar-width : 40px;
    // display: flex; flex-direction: row;
    clear: both; padding: 12px;border-bottom: 1px solid #eee; min-height: 50px; background: #FFF;
    &.cp-newAdd {animation: show_comment_item .6s;}
    .cp-avatarbox { float: left ;width: @avatar-width + 10px; /*text-align: center;*/  }
    .cp-avatar {width: @avatar-width; height: @avatar-width; border-radius: 50%}
    .cp-mainbox { margin-left: @avatar-width + 10px; }
    .cp-title  {font-size: 12px;
      .name { font-weight: normal; color: #999;}
      .time { float: right;  color:#CCC; font-weight: 300}

    }
    .cp-content { padding-top: 2px;font-size: 14px;line-height: 1.6 ;
      .cp-loadingIcon { font-size: 12px; margin-left: 5px; color:#bbb}
      .cp-error { font-size: 12px; padding-left: 5px; color:red}
    }
  }
  .cp-commentLists-tips { text-align: center; padding: 10px; background: #fafafa;
    a {display: block;}
  }
}

#Page-comment-lists {
  @textarea-height : 100px;
  .cp-comment-list { padding-bottom: @textarea-height;
    .cp-error { font-size: 10px; }
  }
  .cp-scroll {z-index: 1}
  .cp-comment-addbox {
    z-index: 2;
    position: fixed; bottom: 0; left: 0; right:0; border-top:1px solid #DDD; background: #FFF; box-shadow: 0 0 30px rgba(0,0,0,.1);
    .cp-input-wrapper { display:flex; padding: 10px; height: @textarea-height; }
    textarea { resize:none; width: 100%; border:1px solid #DDD; border-right: none; box-shadow: inset 2px 3px 8px rgba(0,0,0,.1); border-radius:3px 0 0 3px;
      &:focus { }
    }
    .btn-submit  { min-width: 60px; border:1px solid #DDD;    border-radius: 0 3px 3px 0; background: #FFF;}
    .cp-startBtn-wrapper {padding: 12px;
      .btn { border:1px solid #DDD; text-align: left; color : #AAA;}
    }
  }
  // background: #FFF;
}

/* 用户个人资料页 */
.page-view-header {
  position: relative; height: 160px; background-color:lighten(@color-primary,16%); background-image: url(../images/carpool_bg.jpg); background-position: center ; background-size: cover;
  .cp-btn-goback { display: inline-block; float: left; font-size: 20px;  color:#fff; padding: 0 12px; margin-right: 5px;line-height: 50px; overflow: hidden;
    svg { width: 40px; height: 20px;}
  }
  .cp-btn-close { position: fixed; right: 12px; top:12px;font-size: 20px;  color:#fff; line-height: 1; opacity: .9}
}


#Page-user-index {
  @avatar-width : 84px;
  background: #fafafa;
  .page-view-header {
    .cp-heading  { position: absolute; padding: 0 20px; width: 100%;bottom:24px; color:#fff}
    .cp-txt { margin:30px 15px 0  100px ; font-size: 14px;
      h3 { margin: 0 0 5px; font-size: 22px; }
    }
    .cp-avatar { float: left;border:2px solid rgba(255,255,255,.3);   width: @avatar-width; height: @avatar-width;}
  }
  .cp-statis-list {
    background: #FFF;
  }
  .cp-statis-item {overflow: hidden;
    @color-border :  lighten(@color-primary,52%);
    padding-top: 20px; border-bottom: 1px solid @color-border;
    border-left: 1px solid @color-border;
    &:first-child { border-left: none; }
    .cp-iconfont { font-size: 20px; color: lighten(@color-primary,30%)}
    .num { color:lighten(@color-primary,20%); font-size: 18px;}
  }
  .cp-options-list { li{ background: #FFF;} }
  .cp-selectbtn-wrap {
    .mix-selectbtn-wrap(44px,  lighten(desaturate(@color-primary,16%),20%));
    overflow: hidden;
    padding-right: 10px;
    .cp-label .fa { font-size: 18px; width: 18px;}
    .weui-cell__hd {padding: 0 10px 0 20px; overflow: hidden;  }
    .weui-cell__ft { display: none}
  }

}


/* 用户个人资料页 */
#Page-user-profile {
  @avatar-width :80px;
  @pv-height :60px;
  &.isScrollDown {
    .cp-avatar { transform:  /*translate(0,0)*/ translate(0,-100px);  }
  }
  .cp-btn-goback-wrapper  {
    margin-top: 4px; position: absolute; transition: all .5s;
     .cp-btn-goback{
       background: none;
    }

  }
  .page-view-title { transition: all .5s;}
  .page-view-main { z-index: 2; position: relative;}
  .page-view-header {height: @pv-height; margin-bottom: 30px;}
  .cp-heading  { position: absolute; width: 100%; top: @pv-height - @avatar-width/2 ;clear:both;  padding-bottom: 10px;  text-align: center;
    label { position: absolute; right:50%; top: @avatar-width/2 - 18px ; margin-right: @avatar-width/2 + 5px; color: lighten(@color-primary,50%);; font-size: 12px; font-weight: 300}
    .cp-txt {
      h3 { margin: 10px 0 10px; font-size: 22px; color: lighten(@color-primary,16%); }
    }
  }
  .cp-avatar { width: @avatar-width; height: @avatar-width;  margin: 0 auto; border:2px solid rgba(255,255,255,.8);  transition: all .5s;}
  .cp-container { padding-top: 110px;}
  .weui-cells {
    label { font-weight: 400; color: #444; margin: 0}
  }


  .cp-title-icon {
     margin-right: 5px; font-size: 16px; text-align: center; min-width: 18px;
  }
  .cp-group {
    .weui-cell__ft,.vux-cell-value,.weui-select  {  font-size: 14px;}
    .weui-cells__title { color:lighten(@color-primary,16%); font-weight: 400;
      .cp-title-icon { color:lighten(@color-primary,30%); }
    }
    .weui-select  {   width: auto; float: right;text-align: right; color: #888; line-height: 44px;
      option {}
    }
  }
  .cp-group-title  {
   padding: 8px 0 8px 12px;
  }
}

.page-view-profile-edit {
  .weui-cell__hd {
    label {margin: 0}
  }
  .cp-btn-wrapper { margin-top: 20px;
    .cp-btn-submit {font-size: 16px; line-height: 1.8}
    // .weui-btn {padding: 0}
  }

}

#Page-user-profile-edit {
  .cp-form-group { margin-top: 15px;}
  .help-block { color:lighten(@color-primary,35%); margin: 4px 0 24px 4px}
}

#Page-user-profile-phone {
  .cp-form-group .vux-no-group-title { margin-top: 0;}
  .btn-sendsms { position: absolute; right: 4px; top:5px;}

}

#Page-user-profile-password {
  .weui-cell__hd { width: 30px;
    .fa { color: #aaa}
  }
  .cp-form-group .vux-no-group-title { margin-top: 0;}
}

#Page-user-profile-departments {
  .cp-search-bar {}
  .vux-no-group-title { margin-top: 0}
  .weui-cell__hd { width: 30px;
    label {margin: 0}
  }
  .cp-search-bar {
    position: absolute; top:46px; width: 100%;
    .fa-search { color: #aaa}
  }
  .cp-departments-list {
    list-style: none; padding: 0;
    li {
      .cp-icon { font-size: 12px; color: #DDD; margin-right: 5px;}
      padding: 10px; border-bottom: 1px solid #DDD; margin: 0
    }
  }
}

/* 免责声明 */
 .cp-disclaimer .page-view-main {
   background: #fbfbfb; color: #666; text-shadow: 1px 1px 0 #FFF;
   .container {padding-top: 16px;}
 }


/* 头像更改页 */
#Page-user-profile-avatar {
  .cp-cropper-wrapper {height: 360px;}

  .cp-selectpic-btn { margin-bottom: 12px;}
  .cp-btn-submit { margin-bottom: 12px;}
  .cp-btn-wrapper { padding: 10px;}
}




/**登入页相关**/
@keyframes cp-login-in {
  0% {
    transform: translate(0, -200px);
    -webkit-transform: translate(0, -200px);
    opacity: 0
  }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    opacity: 1
  }
}

@keyframes cp-login-success {
  50% {
    transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    opacity: .8
  }
  //
  // 50% {
  //   transform:rotateY(0) translate(0, -30px);
  //   opacity: .5
  // }
  //
  // 75% {
  //   transform:rotateY(180deg) translate(0, -10px);
  //   opacity: .2
  // }
  100% {
    transform:translate(0, 0);
    -webkit-transform:translate(0, 0);
    //transform: translate(0, 0);
    opacity: 1
  }
}


.page-login, .page-register { background:#f0f0f0; }
.cp-login-wrap, .cp-register-wrap {
  position: relative;
   width: auto;
   margin: 0 auto;
  button[type="submit"] { width:100%; margin-top:20px}
}
.cp-login-wrap {
  //  animation: cp-login-in .5s linear 1;
  margin-top: 12%;
  .cp-head-pic-wrap { position:absolute; top:-70px ; left: 0; right:0;text-align: center;}
  .cp-head-pic { width: 150px; height: 150px;   border-radius: 50%; }
  .cp-form-wrap {  padding: 20px 5px 29px;
    .form-login-heading {  margin:10px 0 30px;  font-size:26px; font-family:"Microsoft YaHei"; color:#ccc}
    .form-control { border-radius: 0; border-width: 0 0 1px 0}
    .cp-register {padding-top: 10px; text-align: right; margin: 0}
  }
  &.cp-login-success {
    animation:  cp-login-success 1s linear 1 ;
  }
}

@media (min-width: 768px){
  .cp-login-wrap, .cp-register-wrap {
     width: 450px;
  }
}

/* 用户登入页 */
.cp-loginlogo-wrapper { margin:0 auto 50px; text-align: center;
  .cp-logo { width: 74px; height:74px; border-radius: 5px}
}
.cp-carpool-picwrapper { margin: 0 auto; text-align: center; width: 0px; height: 0px ; display: block; overflow: hidden;}

#Page-address-add {
  .cp-map-wapper {display: flex;flex-direction:  column; }
  .cp-form-panel-wrapper {
    padding:8px 12px;font-size: 14px; border-top:3px solid lighten(@color-primary,10%);
    .cp-form-group { position: relative; margin-bottom: 12px;
      label.control-label { bottom: 2px;font-size: 14px;   color:#e6887f;
        i.fa { margin-right: 5px}
      }
      input.form-control {  padding-left: 80px; font-size: 16px;}
    }
    .cp-search-btn { position: absolute; right:10px; top:8px;}
    .addressname { margin-top: -8px;}
    .address , .addressname {padding-bottom: 5px;}
    .btn-submit { height: 36px; font-size: 14px;}
  }

}


#Page-position {
  .page-view-main {
    display: flex; flex-direction: column;
  }
  .cp-main-panel-wrapper {
     height: 100px; width: 100%;
  }
}
